/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}


header {
  height: 70x;
  width: 100%;
  padding: 15px 0;
  background-color: #ec715f;
}

.header-image {
  width: 110px;
  height: 70px;
  margin-left: 120px;
}

.nav-list {
    line-height: 100px;
    float: right;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  color: #fafafa;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

.main-visual-content {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  
}

.main-visual-text {
  color: #fafafa;
  font-size: 64px;
  text-align: center;
  padding-top: 200px;
}

.main-visual-text-p {
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.main-content {
  width: 100%;
  height: 900px;
  background-color: #eceff1;         
}


.main-text {
  font-size: 32px;
  color: black;
  text-align: center;
  margin-top: 0px;
  padding-top: 90px;
}
.main-text:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -100px; /*下線の上下位置調整*/
    display: inline-block;
    width: 70px; /*下線の幅*/
    height: 3px; /*下線の太さ*/
    transform: translate(-50%); /*位置調整*/
    background-color: #ec715f; /*下線の色*/
}

.main-text-p {
  font-size: 16px;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.production {
  float: left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;

  background-image: url(img/sketch.jpg), 
                    url(img/webcamp-mother.png), 
                    url(img/webcamp-mother.png),
                    url(img/webcamp.png), 
                    url(img/talk.jpg), 
                    url(img/webcamp-mother.png)
                    background-repeat: no-repeat,
.bg-1 {
 background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/webcamp-mother.png);
}

.bg-3 {
  background-image: url(../img/sketch.jpg);
}

.bg-4 {
  background-image: url(../img/sketch.jpg);
}

.bg-5 {
  background-image: url(../img/sketch.jpg);
}

.bg-6 {
  background-image: url(../img/sketch.jpg);
}