/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  height: 70x;
  width: 100%;
  padding: 15px 0;
  background-color: #ec715f;
}

.header-image {
  width: 110px;
  height: 70px;
  margin-left: 120px;
}

.nav-list {
    line-height: 100px;
    float: right;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  color: #fafafa;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

.main-visual-content {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  
}

.main-visual-text {
  color: #fafafa;
  font-size: 64px;
  text-align: center;
  padding-top: 200px;
}


.main-visual-text-p {
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

section {
  display: block;
}

/* portfolio */
#portfolio {
  background-color: #ECEFF1;
}

.container {
  width: 1024px;
  margin: 0 auto;
}



.heading {
  color: black;
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  color: black;
}


.production-group {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}


.production {
  float: left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}



.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}
.production:nth-child(3n) {
  margin-right: 0;
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}


/* Feature */
.strength {
  float: left;
  width: 320px;
  margin-right: 6px;
  text-align: center;
  font-size: 60px;
}

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
  color: black;
}

.strength-text {
  text-align: left;
  font-size: 16px;
  color: black;
}



.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

/* profile */

#profile {
  background-color: #ECEFF1;
}

.profile-group {
  padding: 30px 0 90px 0;
}

.profile-image {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  250px;       /* ※縦横を同値に */
    height: 250px;       /* ※縦横を同値に */
    margin-left: 120px;
}


.left-content {
  width: 50%;
  float: left;
}

.right-content {
  width: 50%;
  float: right;
}

.myname, .myskill {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname, .myskill, .plofile-text, .skill {
  color: black;
}

.plofile-text, .skill {
  font-size: 16px;
}


/* contact */
.contact-group {
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.contact-text {
  color: black;
  font-size: 20px;
  padding-top: 5px;
}

/* footer */
